:root{
    --color-1: #ffd15b;
    --color-2: #242424;
    --color-3: #edffec;
    --bg-color: #282828;
    --secBg-color: #2f2f2f;
    --info-font: 'Paytone One', sans-serif;
    --title-font: 'Moul', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: var(--info-font);
    color: var(--color-3);
    background-image: url(../media/img/Blue-Wallpaper-Phone.jpeg);
    background-attachment: fixed;
}

.pageHeader {
    background-color: var(--bg-color);
}

.title {
    font-family: var(--title-font);
    color: var(--color-1);
    filter: drop-shadow(black 0.5rem 0.5rem 2rem);
    text-transform: capitalize;
}

.pageSection, .pageContent{
    background-color: var(--secBg-color);
}

.projectItem {
    background-color: var(--color-2);
    text-decoration: none;
    color: var(--color-3);
}



@media only screen and (max-width: 600px) {

    .mainPage {
        max-width: 144rem;
    }
    
    .pageHeader {
        min-height: 35rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 2.5rem;
    }
    
    .information {
        min-width: 20rem;
        font-size: 2rem;
    }
    
    .title {
        font-size: 4rem;
    }
    
    .iam {
        text-align: center;
        align-self: center;
        font-size: 8rem;
    }
    
    .pageSection, .pageContent{
        margin: 0 2.5rem;
    }
    
    .aboutMe, .projects {
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .projectsGrid {
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;
    }
    .projectImage {
        width: 25rem;
        border-radius: 1rem;
    }
    .projectItem {
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}



@media only screen and (min-width: 600px) {

        .mainPage {
        max-width: 144rem;
    }
    
    .pageHeader {
        min-height: 35rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 1rem;
    }
    
    .information {
        min-width: 20rem;
        font-size: 2rem;
    }
    
    .title {
        font-size: 4rem;
    }
    
    .iam {
        text-align: center;
        align-self: center;
        font-size: 8rem;
    }
    
    .pageSection, .pageContent{
        margin: 0 3rem;
    }
    
    .aboutMe, .projects {
        padding: 2rem;
        margin-bottom: 10rem;
    }

}



@media only screen and (min-width: 768px) {

    .mainPage {
        max-width: 144rem;
    }
    
    .pageHeader {
        min-height: 40rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 1rem;
    }
    
    .information {
        min-width: 20rem;
        font-size: 2rem;
    }
    
    .title {
        font-size: 5rem;
    }
    
    .iam {
        text-align: center;
        align-self: center;
        font-size: 10rem;
    }
    
    .pageSection, .pageContent{
        margin: 0 4rem;
    }
    
    .aboutMe, .projects {
        padding: 2rem;
        margin-bottom: 10rem;
    }

}



@media only screen and (min-width: 992px) {

    .mainPage {
        max-width: 144rem;
        margin: 0.3rem auto;
    }
    
    .pageHeader {
        min-height: 60rem;
        display: flex;
        border-radius: 2rem;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 1rem;
    }
    
    .information {
        min-width: 40rem;
        font-size: 2.5rem;
    }
    
    .title {
        font-size: 5rem;
    }
    
    .iam {
        text-align: center;
        align-self: center;
        font-size: 12rem;
    }
    
    .pageSection, .pageContent{
        margin: 0 5rem;
    }
    
    .aboutMe, .projects {
        padding: 2rem;
        margin-bottom: 10rem;
    }

}