:root{
    --color-1: #ffd15b;
    --color-2: #242424;
    --color-3: #edffec;
    --bg-color: #282828;
    --secBg-color: #2f2f2f;
    --info-font: 'Paytone One', sans-serif;
    --title-font: 'Moul', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: var(--info-font);
    color: var(--color-3);
    background-image: url(../img/Blue-Wallpaper-Phone.jpeg);
    background-attachment: fixed;
}

.mainPage {
    max-width: 144rem;
    justify-content: center;
}

.pageHeader {
    background-color: var(--bg-color);
    min-height: 60rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
}

.information {
    max-width: 40rem;
    font-size: 2rem;
}

.title {
    font-family: var(--title-font);
    color: var(--color-1);
    text-transform: capitalize;
    font-size: 5rem;
}

.iam {
    text-align: center;
    align-self: center;
    font-size: 12rem;
}

.pageSection, .pageContent{
    background-color: var(--secBg-color);
    margin: 0 5rem;
}

.aboutMe, .projects {
    padding: 2rem;
    margin-bottom: 10rem;
}